<%- include('partials/min-header-dashboard') -%>
  <div class="dashboard-container">
    <div class="container mt-5">
      <h2>Your Plant Dashboard</h2>
      <p>Here you can find your custom plant information. Enjoy!</p>            
      <table class="table table-hover table-bordered table-background-color">
        <thead class="table-dark">
          <tr>
            <th style="text-align: center">Plant name</th>
            <th style="text-align: center">Date Watered</th>
            <th style="text-align: center">Date Fertilized</th>
            <th style="text-align: center">Action Needed</th>
            <th style="text-align: center">Additional Details</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < posts.length; i++) {%>
            <% var date = new Date(posts[i].dateWatered); 
              var todaysDate = new Date(Date.now()); %>
            

            <!-- Modal -->
            <div class="modal fade" id="exampleModal<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="background-image: url(../imgs/pexels-sohail-nachiti-807598.jpg); background-size: cover; height:160px"></div>
                  <div class="modal-body">
                    <div class="plant-name">        
                      <h3><%= posts[i].nickname%></h3>
                    </div>
                    <div class="plant-info">
                      <h4>Official Plant Name:</h4>
                      <span><%= posts[i].name%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Ideal Temperatures:</h4>
                      <span><%= posts[i].temperature%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Ideal Light Conditions:</h4>
                      <span><%= posts[i].lightConditions%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Purchased:</h4>
                      <span><%= posts[i].datePurchased%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Last Watered:</h4>
                      <span><%= posts[i].dateWatered%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Fertilized:</h4>
                      <span><%= posts[i].dateFertilized%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Water Frequency:</h4>
                      <span><%= posts[i].water%> </span>
                    </div>
                    <div class="plant-info">
                      <h4>Next Watering Date:</h4>
                      <% if(posts[i].water === "weekly"){ %>
                        <% var newDate = date.setDate(date.getDate() + 8); %>
                        <span><%= new Date(newDate) %></span>
                      <% } else if(posts[i].water === "Daily") { %>
                        <% var newDate = date.setDate(date.getDate() + 2); %>
                        <span><%= new Date(newDate) %></span>
                      <% }else if(posts[i].water === "Biweekly") { %>
                        <% var newDate = date.setDate(date.getDate() + 15); %>
                        <span><%= new Date(newDate) %></span>
                      <% }else{ %>
                        <% var newDate = date.setDate(date.getDate() + 31); %>
                        <span><%= new Date(newDate) %></span>
                      <% } %>
                      <!-- <span><%= new Date(Date.now()) %></span> -->
                    </div>

                    <div class="plant-image">
                      <img src= "<%= posts[i].image%>" alt="plant"/>
                    </div>
                  </div>
                  <div class="modal-footer" style="background-color:#A3B18A">
                    <button type="button" class="btn btn-secondary" style="background-color:#3A5A40" data-bs-dismiss="modal" >Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>

            <!-- Table Row Display -->
            <tr data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor:pointer">
              <td style="text-align: center"><%= posts[i].nickname%></td>
              <td style="text-align: center"><%= posts[i].dateWatered%></td>
              <td style="text-align: center"><%= posts[i].dateFertilized%></td>
              <td style="text-align: center">
                <% if(new Date(newDate).getTime() <= new Date(todaysDate).getTime()) { %>
                  <span class="material-symbols-outlined" style="color:#3A5A40">
                    priority_high
                    </span>
                <% } %>
              </td>
              <td style="text-align: center"><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary dashboard-button" data-bs-toggle="modal" data-bs-target="#exampleModal<%= i %>">
                  View
                </button></td>
            </tr>

          <% } %>
        </tbody>
      </table>
    </div>
    <!-- <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div> -->
  </div>  
<%- include('partials/footer') -%>