<%- include('partials/min-header-dashboard') -%>
  <div class="dashboard-container">
    <div class="container mt-5">
      <h2>Your Plant Dashboard</h2>
      <p>Here you can find your custom plant information. Enjoy!</p>            
      <table class="table table-hover table-bordered table-background-color">
        <thead class="table-dark">
          <tr>
            <th>Plant name</th>
            <th>Date Watered</th>
            <th>Date Fertilized</th>
            <th>Action Needed</th>
            <th>Additional Details</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<posts.length; i++) {%>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header" style="background-image: url('<%= posts[i].image%>'); height:160px"></div>
                  <div class="modal-body">
                    <div class="plant-name">        
                      <h3><%= posts[i].nickname%></h3>
                    </div>
                    <div class="plant-info">
                      <h4>Official Plant Name:</h4>
                      <span><%= posts[i].name%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Ideal Temperatures:</h4>
                      <span><%= posts[i].temperature%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Ideal Light Conditions:</h4>
                      <span><%= posts[i].lightConditions%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Purchased:</h4>
                      <span><%= posts[i].datePurchased%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Watered:</h4>
                      <span><%= posts[i].dateWatered%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Date Fertilized:</h4>
                      <span><%= posts[i].dateFertilized%></span>
                    </div>
                    <div class="plant-info">
                      <h4>Water Frequency:</h4>
                      <span><%= posts[i].water%> </span>
                    </div>
                    <div class="plant-info">
                      <h4>Current Date:</h4>
                      <span><%= new Date(Date.now()) %></span>
                    </div>
                    <div class="plant-info">
                      <span>
                        <%= new Date(Date.now() + 30 * 86400000)%>
                      </span>
                    <% if(posts[i].water === "Weekly") {%>
                      return(
                      <span>
                        <%= new Date(Date.now() + 30 * 86400000)%>
                      </span>)
                      <% } %>
                    </div>

                    <div class="plant-image">
                      <img src= "<%= posts[i].image%>" alt="plant"/>
                    </div>
                  </div>
                  <div class="modal-footer" style="background-color:#A3B18A">
                    <button type="button" class="btn btn-secondary" style="background-color:#3A5A40" data-bs-dismiss="modal" >Close</button>
                    <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
                  </div>
                </div>
              </div>
            </div>
            <tr>
              <!-- <td><%= posts[i].image%></td> -->
              <td><%= posts[i].nickname%></td>
              <td><%= posts[i].dateWatered%></td>
              <td><%= posts[i].dateFertilized%></td>
              <td>!</td>
              <td><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary dashboard-button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  View
                </button></td>
            </tr>
          <% } %>
          <tr>
            <td>Issa</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Maya</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Darlene</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Michelle</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Venus</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div> -->
  </div>  
<%- include('partials/footer') -%>