<%- include('partials/min-header-dashboard') -%>
  <div class="dashboard-container">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



    <div class="container mt-5">
      <h2>Your Plant Dashboard</h2>
      <p>Here you can find your custom plant information. Enjoy!</p>            
      <table class="table table-hover table-bordered table-background-color">
        <thead class="table-dark">
          <tr>
            <th>Plant name</th>
            <th>Date Watered</th>
            <th>Date Fertilized</th>
            <th>Action Needed</th>
            <th>Additional Details</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i<posts.length; i++) {%>
            <tr>
              <!-- <td><%= posts[i].image%></td> -->
              <td><%= posts[i].nickname%></td>
              <td><%= posts[i].dateWatered%></td>
              <td><%= posts[i].dateFertilized%></td>
              <td>!</td>
              <td><!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  More Info
                </button></td>
            </tr>
          <% } %>
          <tr>
            <td>Issa</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Maya</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Darlene</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Michelle</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Venus</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
          <tr>
            <td>Serena</td>
            <td>12/31</td>
            <td>12/31</td>
            <td>!</td>
            <td>More Info</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %>
        </ul>
    </div> -->
  </div>  
<%- include('partials/footer') -%>