<%- include('partials/min-header') -%>
<!-- Date Calculation -->
<% var todaysDate = new Date(); 
let year = todaysDate.getFullYear();
let date = todaysDate.getDate();
let month = todaysDate.getMonth() + 1 %>

<div class="profile-container">
  <h1 class="welcome-message">Add Plant</h1>
  <div class="add-plant">
    <form
      action="/post/createPost"
      enctype="multipart/form-data"
      method="POST"
      class="add-plant-form"
    >
      <div class="mb-3">
        <label for="name" class="form-label">Official Plant Name</label>
        <input type="text" class="form-control" id="name" name="name" />
      </div>
      <div class="mb-3">
        <label for="nickname" class="form-label"
          >Nickname<bold style="color: #d22b2b">*</bold></label
        >
        <input class="form-control" id="nickname" name="nickname" required />
      </div>
      <div class="mb-3">
        <label for="imgUpload" class="form-label"
          >Image<bold style="color: #d22b2b">*</bold></label
        >
        <input
          type="file"
          class="form-control"
          id="imageUpload"
          name="file"
          required
        />
      </div>
      <div class="mb-3">
        <label for="datePurchased" class="form-label">Date Purchased</label>
        <input
          type="date"
          max= "<%= year%>-0<%= month%>-<%= date%>"
          class="form-control"
          id="datePurchased"
          name="datePurchased"
        />
      </div>
      <div class="mb-3">
        <label for="lightConditions" class="form-label"
          >Light Conditions<bold style="color: #d22b2b">*</bold></label
        >
        <!-- <input type="text" class="form-control" id="lightConditions" name="lightConditions"> -->
        <select
          name="lightConditions"
          id="lightConditions"
          type="text"
          class="form-control"
          required
        >
          <option value="Lots">Lots of Light</option>
          <option value="Medium">Medium Light</option>
          <option value="Low">Low Light</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="temperature" class="form-label">Temperature</label>
        <input
          type="text"
          class="form-control"
          id="temperature"
          name="temperature"
        />
      </div>
      <div class="mb-3">
        <label for="water" class="form-label"
          >Watering Frequency<bold style="color: #d22b2b">*</bold></label
        >
        <!-- <input type="text" class="form-control" id="water" name="water"> -->
        <select
          name="water"
          id="water"
          type="text"
          class="form-control"
          required
        >
          <option value="Daily">Daily</option>
          <option value="Weekly">Weekly</option>
          <option value="Biweekly">Biweekly</option>
          <option value="Monthly">Monthly</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="dateWatered" class="form-label"
          >Date Last Watered<bold style="color: #d22b2b">*</bold></label
        >
        <input
          type="date"
          max="<%= year%>-0<%= month%>-<%= date%>"
          class="form-control"
          id="dateWatered"
          name="dateWatered"
          required
        />
      </div>
      <div class="mb-3">
        <label for="dateFertilized" class="form-label"
          >Date Last Fertilized</label
        >
        <input
          type="date"
          max="<%= year%>-0<%= month%>-<%= date%>"
          class="form-control"
          id="dateFertilized"
          name="dateFertilized"
        />
      </div>
      <button type="submit" class="btn btn-primary submit" value="Upload">
        Submit
      </button>
    </form>
  </div>
</div>
<%- include('partials/footer') -%>
